!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/app.css")
    %link(rel="icon" href="/images/nobugs-icon.jpg" type="image/jpeg")
    %title=@title
    %meta(charset="utf-8")
  %body
    -# %img(src="images/cryo-nobugs.jpg" alt="Cryosphere" width="470" height="98")
    #heading
      %h1.heading_title
        Cryo
        %br/
        Tracker
      .heading_links
        %a(href="/")Main
        |
        %a(href="/?watchlist=1")Watchlist
        |
        %a(href="/stats")Stats
        |
        %a(href="/submit")Submit a Bug
        |
        %a(href="/cabal")Cabal List
        |
        %a(href="/about")About
        |
        %a(href="/dev/")Admin Area
        %br/
        Bugs:
        %a(href="/summary")Summary
        -
        %a(href="/?state=all")All
        -
        %a(href="/?state=open")Open
        (
        %a(href="/?state=new")New
        -
        %a(href="/?state=confirmed")Confirmed
        ) -
        %a(href="/?state=closed")Closed
        (
        %a(href="/?state=unverified")Unverified
        -
        %a(href="/?state=verified")Verified
        ) -
        %a(href="/?state=unbugs")Unbugs
        (
        %a(href="/?state=held")Held -
        %a(href="/?state=notabug")NotABug
        )
        %hr/
    = yield
